@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    margin-top: 10px;
}
.logo-section {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
}

/* Account holder info section starts at here */
.custom-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}
.image-section {
    display: flex;
    flex-direction: column;   
}
.account-holder-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Account holder info section ends at here */

/* Account info section starts at here */
.account-info-section {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-block: 10px;
}
/* Account info section ends at here */





/* Display content section starts here */

    /* grid section starts here */
    .display-content-section {
        border: 2px solid black;
        max-width: 1180px;
        display: grid;
        margin-top: 20px;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-columns: 200px 200px 200px 200px 200px;
        justify-content: center;

    }
    .box {
        border: 2px solid green;
        padding: 12px;
    }
    #box-1 {
        background-color: #4895ef;
        grid-row: span 1;
        grid-column: span 3;
        padding: 20px 20px;
        border: 2px solid black;
        color: white;
    }
    #box-2 {
        background-color: #4361ee;
        grid-column: span 2;
        padding: 20px 20px;
        border: 2px solid black;
        color: white
    }
    #box-3 {
        background-color: #4895ef;
        color: white;
        border: 2px solid black;
        grid-row: span 1;
        grid-column: span 2;
    }
    #box-4 {
        background-color: #4895ef;
        color: white;
        border: 2px solid black;
        grid-column: span 3;
        grid-row: span 3;
    }
    #box-5 {
        background-color: #4361ee;
        color: white;
        border: 2px solid black;
        grid-column: span 2;
        grid-row: span 2;
    }
    #box-6 {
        grid-row: span 3;
    }
    #box-7 {
        grid-row: span 3;
    }

    #box-8 {
        background-color: #4895ef;
        color: white;
        grid-column: span 3;
        grid-row: span 5; /* span 7 before */
        display: flex;
        gap: 20px;
        align-items: center;
    }
    #box-9 {
        grid-column: span 2;
        grid-row: span 5;
    }
    .dynamic-progress-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        width: 300px;
        padding: 20px;
        box-shadow: 0px 0px 30px #ededed;
    }
    .circular-progress {
        position: relative;
        height: 240px;
        width: 240px;
        background-color: #f0ff;
        border-radius: 50%;
        background: conic-gradient(#7d2ae8 ,3.6deg ,#ededed 0deg); 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    .circular-progress::before {
        content: "";
        position: absolute;
        height: 210px;
        width: 210px;
        background-color: #fff;
        border-radius: 50%;
    } 
    .progress-value {
        position: relative;
        font-size: 30px;
        font-weight: 600;
        color: #7d2ae8;
    }
    #box-23 {
        background-color: #4895ef;
        color: white;
        border: 1px solid black;
        grid-row: span 2;
        grid-column: span 3;
    }
    /* grid section endss here */

    /* payment-statement-section starts here */
    .payment-statement-section {
        border: 1px solid red;
        margin-top: 10px;
    }
    /* payment-statement-section endss here */

/* Display content section endss here */





/* Utlity classes */
.text-color-blue {
    color: #4361ee;
}

.form-section {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.format {
    max-width: 250px;
    padding: 10px 20px;
    outline: none;

}
.btn {
    min-width: 123px;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #4361ee;
    cursor: pointer;
}
.drop {
    min-width: 250px;
    padding: 10px 20px;
}
.curreny-convertor-section {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    row-gap: 10px;
}
.format-amount {
    min-width: 250px;
    padding: 10px 20px;
    outline: none;

}
.con-btn {
    max-width: 100px;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-section {
    border: 1px solid black;
    margin-block: 10px;
}

.transfer-btn {
    background: linear-gradient(to top right ,#4361ee ,#7d2ae8);
    padding: 10px 12px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.transfer-section {
    margin-block: 10px;
}
.balance-section {
    border: 2px solid black;
    font-size: 1.2rem;
}