@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
}
.logo-section {
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
}

/* Account holder info section starts at here */
.custom-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
}
.image-section {
    display: flex;
    flex-direction: column;   
}
.account-holder-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Account holder info section ends at here */

/* Account info section starts at here */
.account-info-section {
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
}
/* Account info section ends at here */

.btn-home {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    row-gap: 10px;
}
.home-btn {
    max-width: 150px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 5px;
    background: transparent;
    border: 2px solid #3284ed;
    border-radius: 5px;
}
.link {
    text-decoration: none;
    color: #3284ed;
}



/* Display content section starts here */

    /* grid section starts here */
    .display-content-section {
        max-width: 1180px;
        display: grid;
        margin-top: 20px;
        row-gap: 25px;
        column-gap: 25px;
        grid-template-columns: 200px 200px 200px 200px 200px;
        justify-content: center;
        padding: 20px 0px;
    }
    .box {
        padding: 15px 20px;
    }
    .date-section {
        font-weight: bold;
        font-size: 1.1rem;
    }
    #box-1 {
        grid-row: span 1;
        grid-column: span 3;
        padding: 20px 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-size: 1.1rem;
        font-weight: bold;
    }
    
    #box-2 {
        box-shadow: 0px 0px 10px #d2d2d2;
        font-size: 1.1rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        grid-column: span 2;
        padding: 20px 20px;
        border-radius: 8px;
        
    }
    #box-3 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        box-shadow: 0px 0px 10px #d2d2d2;
        grid-row: span 1;
        grid-column: span 2;
        border-radius: 8px;
        font-size: 1.1rem;
        font-weight: bold;

    }
    #box-3 h2 {
        font-size: 2.5rem;
    }
    #box-4 {
        grid-column: span 3;
        grid-row: span 3;
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
        display: flex;
        flex-direction: column;
        row-gap: 15px;

    }
    #box-5 {
        grid-column: span 2;
        grid-row: span 2;
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
    }
    #box-6 {
        grid-row: span 3;
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
    }
    #box-7 {
        grid-row: span 3;
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
    }
    .payment-statement-section {
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
        margin-bottom: 10%;

    }
    .payment-statement-section h1 {
        padding: 0px 20px;
    }

    #box-8 {
        grid-column: span 3;
        grid-row: span 5; /* span 7 before */
        display: flex;
        gap: 20px;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
    }
    #box-9 {
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
        grid-column: span 2;
        grid-row: span 5;
    }
    #box-10 {
        border-radius: 8px;
        box-shadow: 0px 0px 10px #d2d2d2;
        grid-row: span 3;
        grid-column: span 3;

    }
    #box-14 {
        grid-column: span 4; ;
        grid-row: span 3;
    }
    #box-18 {
        grid-column: span 5;
    }
   
    .dynamic-progress-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        width: 300px;
        padding: 20px;
        z-index: 1;
    }
    .circular-progress {
        position: relative;
        height: 250px;
        width: 250px;
        background-color: #f0ff;
        border-radius: 50%;
        background: conic-gradient(#3284ed ,3.6deg ,#ededed 0deg);  /* 7d2ae8 */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        /* z-index: 1; */
    }
    .circular-progress::before {
        content: "";
        position: absolute;
        height: 210px;
        width: 210px;
        background-color: #fff;
        border-radius: 50%;
    } 
    .progress-value {
        position: relative;
        font-size: 30px;
        font-weight: 600;
        color: #3284ed;
    }
    /* grid section endss here */

    /* payment-statement-section starts here */
    .payment-statement-section {
        margin-top: 10px;
    }
    /* payment-statement-section endss here */

/* Display content section endss here */





/* Utlity classes */
.text-color-blue {
    color: #3284ed;
    font-size: 2.5rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.format {
    padding: 10px 20px;
    outline: none;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid black;

}
.btn {
    min-width: 123px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;   
    background: linear-gradient(to top right ,#4361ee ,#4892f9);
}
.drop {
    min-width: 400px;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid black;
}
.curreny-convertor-section {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    row-gap: 10px;
    margin-block: auto;
    font-weight: bold;
    font-size: 1.1rem;
}
.heading-section {
    display: flex;
    row-gap: 10px;

}
.format-amount {
    min-width: 250px;
    padding: 10px 20px;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    background: transparent;
    border: 2px solid #3284ed;
    border-radius: 8px;

}
.con-btn {
    max-width: 100px;
    padding: 10px 20px;
    cursor: pointer;
    margin-block: 5px;
    background: linear-gradient(to top right ,#4361ee ,#4892f9);
    font-weight: bold;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-section {
    display: flex;
    column-gap: 10px;
    margin-block: 15px;
}

.transfer-btn {
    background: linear-gradient(to top right ,#4361ee ,#4892f9);
    padding: 10px 12px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.transfer-section {
    margin-block: 10px;
}
.balance-section {
    /* font-size: 1.2rem; */
}
.balance-section>h2 {
    font-size: 3rem;
    font-weight: bold;
}
























.progress {
    background-color: grey;
    border-radius: 20px;
    height: 10px;
    width: 350px;
}
.progress-done {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to left ,#0546e0 ,#1172f9 ,#4892f9);
    box-shadow: 0 5px 5px -6px #0546e0, 0 3px 7px #1172f9;
    border-radius: 20px;
    color: #fff;
    height: 100%;
    width: 0;transition: 1s ease 0.3s;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
}






.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    position: fixed;
    top: 100vh;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.popup-content {
    box-shadow: 0px 0px 20px #d2d4d6;
}

.popup .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0, 0, 5);
    opacity: 0;

    transition: opacity 100ms ease-in-out 200ms;
}

.popup .popup-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 0;
    width: 95%;
    max-width: 1000px;
    background-color: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px 5px(0, 0, 0, 0, 05);
    transition: all 300ms ease-in-out;
}

.popup .popup-content h2 {
    margin: 10px 0px;
    font-size: 25px;
    color: #111;
    text-align: center;
}

.popup .popup-content p {
    margin: 15px 0px;
    color: #222;
    font-size: 16px;
    text-align: center;
}

.popup .popup-content .controls {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 0px;

}

.popup .popup-content .controls button {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}

.popup .popup-content .controls .close-btn {
    background: transparent;
    color: #3284ed;

}

.popup .popup-content .controls .submit-btn {
    background: #3284ed;
    color: #fff;
}

.popup.active {
    top: 0px;
    transition: top 0ms ease-in-out 0ms;

}

.popup.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.popup.active .popup-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup-content p {
    display: flex;
    justify-content: center;
}




.format {
    padding: 0px 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
    font-weight: bold;
}

.name-section {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.section-1 {
    display: flex;
    column-gap: 5%;

}

.section-2 {
    display: flex;
    margin-block: auto;
    justify-content: space-evenly;
}

.section-3 {
    display: flex;
    flex-direction: column;
}

.nominee-section {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.currency-section {
    padding: 15px 20px;
    min-width: 200px;
}

.contact-info {
    max-width: 350px;
    margin-block: auto;
}

.account-type {}

.select-menu {
    min-width: 300px;
    padding: 10px 20px;
}

.popup-form-section {}

.items {
    padding: 10px 20px;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}
.font {
    font-size: 5rem;
}
.spacer {
    margin-block: 10px;
}












.header-section {
    margin-block: 5px;
}
.links {
    color: white;
    text-decoration: none;
}

.format-amount-section {
    font-weight: bold;
    font-size: 1rem;
}

.inner-data {
    padding: 10px 20px;
}
.main-table {
    min-width: 1180px;
}
.table-data {
    font-size: 1.3rem;
    font-weight: bold;
}
.payment-statement-section h1 {
    margin-block: 10px;
}



/* start work from here */
.cvv-format {
    border: none;   
    border-bottom: 2px solid black;
    outline: none;
    letter-spacing: 10px;
    text-align: center;
    display: flex;
    font-size: 1.2rem;
    padding: 5px 20px;
}
.input-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 270px;

}

.cvv-button-section {
    display: flex;
    justify-content: end;
    column-gap: 10px;
    flex-direction: row;
    margin: 10px 0px;
}
.cvv-btn {
    background:linear-gradient(to top right ,#4361ee ,#4892f9);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.progress-report {
    padding: 20px 20px;
    border-radius: 8px;
}
.progress-report ul {
    list-style: none;
}
.big-font {
    font-weight: bold;
    font-size: 2.5rem;
}
span {
    color: #3284ed;
}