@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); 

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.form-class {
    display: flex;
    justify-content: center;
}
.left-section {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    
}
.right-section {
    padding: 15px 20px;
}
.format {
    padding: 15px 20px;
}
.btn {
    background-color: #4361ee;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.table-h {
    color: white;
    background-color: black;
}