@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'); 

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin-block: 30px;
}
.table-h {
    background-color: black;
    color: white;
}
.border-h {
    border-radius: 10px;
    box-shadow: 0px 0px 20px #d2d4d6;
}

.inner-data {
    padding: 15px 20px;
}

.link {
    text-decoration: none;
    color: white;
}
.btn-update {
    padding: 15px 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.btn-delete {
    padding: 15px 25px;
    background-color: red;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
